<main>
  <section class="info">
    <div>
      Bem-vindo ao meu Portfolio, Sou um Desenvolvedor Desenvolvedor Fullstack com dois anos de experiência no desenvolvimento de aplicações web. 
      Atuo com Angular no frontend e tenho conhecimento sólido no backend com Java e Spring Boot, sempre buscando criar soluções eficientes e intuitivas.
    </div>
    <div class="linha-horizontal"></div>
    <div>
      No momento, estou focado na consolidação das boas praticas de
      desenvolvimento de aplicações web, de ponta a ponta, do back-end ao
      front-end.
    </div>
  </section>
  <section class="social">
    <a href="https://www.linkedin.com/in/gabriel-baraúna/" target="_blank">
      <button>
        <img src="assets/linkedin-icon.svg" alt="Logo do LinkedIn">
        Linkedin
      </button>
    </a>
    <a href="https://github.com/GabrielBaraunaF" target="_blank">
      <button>
        <img src="assets/github-icon.svg" alt="Logo do github">
        Github
      </button>
    </a>
  </section>
</main>

