<main>
  <section class="info">
    <div>
      Bem-vindo ao meu Portfolio, Sou um Desenvolvedor de software em inicio de
      carreira.Sou um profissional estudioso, dedicado e motivado a aprender e
      crescer na área de desenvolvimento de software.
    </div>
    <div class="linha-horizontal"></div>
    <div>
      No momento, estou focado na consolidação das boas praticas de
      desenvolvimento de aplicações web, de ponta a ponta, do back-end ao
      front-end. Procuro uma oportunidade para colocar em prática meus
      conhecimentos e habilidades e contribuir para o crescimento de uma
      empresa.
    </div>
  </section>
</main>

