main{
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}
.nav{
    width: 40%;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
    color: white;

    a{
        text-decoration: none;
        color: white;
    }

    :hover{
        transform: scale(1.1); 
        cursor: pointer;
    }

}
@media (min-width:1024px){

    .nav{
        font-size: 30px;
        gap: 70px;
    }
}