<section class="work">
    <h2>Experiencia:</h2>
    
    <div class="experiencia">
        <div class="barra"></div>
         <section class="details">
            <h3>Focus Tecnologia em Sistemas</h3>
            <p><strong>Cargo:</strong> Estagiário de Desenvolvimento</p>
            <p><strong>Função:</strong> Migrações de banco de dados, usando ferramentas como pentaho, elaboração de querys e inicio de desenvolvimento com java e angular</p>
            <p><strong>Período:</strong> Fev 2024 - Mai 2024</p>
        </section>      
    </div>

    <div class="experiencia">
     <div class="barra"></div>
        <section class="details">
        <h3>WmaConsult</h3>
        <p><strong>Cargo:</strong>Desenvolvedor</p>
        <p><strong>Função:</strong>Desenvolvimento fullstack, com React e Java</p>
        <p><strong>Período:</strong> Mai 2024 - Presente</p>
        </section>
    </div>
</section>
