<main>
 <div class="text">
    <h1>Tecnologias</h1>
    <p>Abaixo estao algumas das <br> tecnologias que utilizo e estudo</p>
 </div>
  <div class="container">
    <img src="assets/java-icon.svg" alt="">
    <img src="assets/springio-icon.svg" alt="">
    <img src="assets/js.png" alt="">
    <img src="assets/type.png" alt="">
    <img src="assets/angular-icon.svg" alt="">
    <img src="assets/git-scm-icon.svg" alt="">   
    <img src="assets/mysql-icon.svg" alt="">
    <img src="assets/postgresql-icon.svg" alt="">
  </div>
</main>
