<section class="work">
    <h2>Experiencia:</h2>
    
    <div class="experiencia">
        <div class="barra"></div>
         <section class="details">
            <h3>Focus Tecnologia em Sistemas</h3>
            <p><strong>Cargo:</strong> Estagiário de Desenvolvimento</p>
            <p><strong>Função:</strong> Migrações de banco de dados, usando ferramentas como pentaho, elaboração de querys e inicio de desenvolvimento com java e angular</p>
            <p><strong>Período:</strong> Fev 2023 - Mai 2023</p>
            <p><strong>Descricao:</strong>
                Contribuí para a melhoria e otimização de queries em banco de dados, garantindo eficiência nas operações e na recuperação de dados.
                Realizei migrações de banco de dados com ferramentas como Pentaho
                Desenvolvi e mantive relatórios, utilizando SQL para garantir a integridade e a precisão das informações.
                Tive a oportunidade de trabalhar com Java e Angular, desenvolvendo aplicações web e realizando implementações básicas utilizando Spring.
                Participei de projetos que envolviam integração de front-end com back-end, aprimorando minhas habilidades em desenvolvimento full-stack.
            </p>
        </section>      
    </div>

    <div class="experiencia">
     <div class="barra"></div>
        <section class="details">
        <h3>EBW Tecnologia</h3>
        <p><strong>Cargo:</strong>Desenvolvedor</p>
        <p><strong>Função:</strong>Desenvolvimento fullstack,Java e Angular</p>
        <p><strong>Período:</strong> Mai 2023 - abril 2024</p>
        <p><strong>Descricao:</strong>
            Atuei como desenvolvedor fullstack, com foco principal em Angular, criando interfaces de usuário dinâmicas e responsivas.
            De senvolvi componentes reutilizáveis e implementei soluções utilizando RxJS para otimizar a comunicação entre componentes e gerenciar dados reativos.
            No lado do back-end, utilizei Java com Spring para desenvolver APIs RESTful, garantindo a integração eficiente com o front-end e a persistência de dados.
            Colaborei na implementação de segurança e autenticação em aplicações, além de participar de revisões de código e práticas ágeis, contribuindo para a melhoria contínua do processo de desenvolvimento.
        </p>
        </section>
    </div>

    <div class="experiencia">
        <div class="barra"></div>
           <section class="details">
           <h3>WmaConsult</h3>
           <p><strong>Cargo:</strong>Desenvolvedor</p>
           <p><strong>Função:</strong>Desenvolvimento fullstack, com React e Java</p>
           <p><strong>Período:</strong> Mai 2024 - Presente</p>
           <p><strong>Descricao:</strong>
               Atuei como desenvolvedor Java, com foco em Spring Boot, assumindo responsabilidades críticas em persistência de dados e implementação de lógica de negócios.
               Desenvolvi soluções robustas para geração de filtros e paginações em APIs, melhorando a experiência do usuário e a performance das aplicações.
               Implementei sistemas de mensageria(rabbitmq) , facilitando a comunicação entre microserviços e aumentando a escalabilidade da aplicação.
               No front-end, utilizei React para desenvolver interfaces dinâmicas e responsivas, realizando correção de bugs e implementações de melhorias de estilo, sempre visando a usabilidade e a experiência do usuário.
           </p>
           </section>
       </div>
</section>
