.work{
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    margin-bottom: 50px;
}

.details{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.experiencia {
    border-radius: 5px;
    width: 60%;
    height: 100%;
    display: flex;
    gap: 10px;
   

}

  .barra {
    width: 5px;
    
    background-color: black;
    border-radius: 5px;
  }

.progresso {
    background-color: #4caf50;
    width: 10px;
    border-radius: 5px;
}
